{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Mailgun Events plugin for Craft CMS
 *
 * MailgunEventsUtility Utility Content
 *
 * @author    Luke Youell
 * @copyright Copyright (c) 2018 Luke Youell
 * @link      https://github.com/lukeyouell
 * @package   MailgunEvents
 * @since     1.0.0
 */
#}

<div class="tableview">
  <table class="data fullwidth collapsible">
    <thead>
      <tr>
        <th scope="col">Summary</th>
        <th scope="col">Date/Time</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <span class="status green"></span> Hello
        </td>
        <td>24/07/2018 12:34</td>
      </tr>
    </tbody>
  </table>
</table>
