{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Mailgun Events plugin for Craft CMS
 *
 * MailgunEventsUtility Utility Content
 *
 * @author    Luke Youell
 * @copyright Copyright (c) 2018 Luke Youell
 * @link      https://github.com/lukeyouell
 * @package   MailgunEvents
 * @since     1.0.0
 */
#}

{% if events %}
  <div class="tableview">
    <table class="data fullwidth collapsible">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Recipient</th>
          <th scope="col">Date/Time</th>
        </tr>
      </thead>

      <tbody>
        {% for item in events.http_response_body.items %}
          <tr>
            <td>
              <span class="status {{
                item.event == 'delivered' ? 'green' :
                item.event == 'failed' ? 'red' :
                'light' }}"></span> {{ item.event|title }}
            </td>
            <td>{{ item.recipient }}</td>
            <td>{{ (item.timestamp|round)|date('jS F Y H:i') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </table>
{% endif %}
