{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Mailgun Events plugin for Craft CMS
 *
 * MailgunEventsUtility Utility Content
 *
 * @author    Luke Youell
 * @copyright Copyright (c) 2018 Luke Youell
 * @link      https://github.com/lukeyouell
 * @package   MailgunEvents
 * @since     1.0.0
 */
#}

<h1>MailgunEventsUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@lukeyouell/mailgunevents/assetbundles/mailguneventsutilityutility/dist', true) ~ '/img/MailgunEventsUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>